<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Powerap  {% block title %}   {% endblock title %}</title>
  </head>
  <body>
<!-- header  -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'categories' %}">All Categories</a>
              {% if categories %}
                {% for c in categories %}
                  <a class="dropdown-item" href="{% url 'category' c.id %}">{{c.name}}</a>
                {% endfor %}
              {% endif %}
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}">Products</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'password' %}">
                  {% if user %}
                    {{request.user.username|title}}
                  {% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'password' %}">Password Update</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logoutpage' %}">logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cart' %}">
                  <span class="badge badge-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                      <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                    </svg>  
                    {% if cart_read > 0 %}
                      <span class="badge badge-warning text-danger">{{cart_read}}</span>                    
                    {% else %}
                      <span class="badge badge-warning text-danger">0</span>                    
                    {% endif %}                    
                  </span>
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'loginpage' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registerpage' %}">Register</a>
              </li>
            {% endif %}
            
          </ul>
        </div>
    </nav>
<!-- header done -->
<!-- message alert -->

{% if messages %}
  {% for item in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{item}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endif %}
  
<!-- message donealert -->
<!-- content section  -->
{% block content %}

{% endblock content %}
<!-- content section done -->

<!-- footer  -->
<div class="container-fluid text-center mt-5 p-5 foot1">
  <p>Copyright &copy; 2021 Power Team</p>
</div>
<!-- footer done -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>