{% extends "base.html" %}

{% block title %}
  Product Catgeory
{% endblock title %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if category %}
                {% for c in category %}
                    <div class="col-12 col-sm-6 col-lg-3 w-25 mt-3 mb-3">
                        <div class="card">
                            <a href="{% url 'product' c.id %}"><img src="{{c.image.url}}" class="card-img-top"></a>
                            <div class="card-body">
                            <h5 class="card-title">Category:{{c.category}}</h5>
                            <p class="card-text">Product:{{c.title}}</p>
                            <p class="card-text">Price: ${{c.price}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}